<section class="dashboard-main">
  <h1> <%= current_user.first_name %>'s Dashboard </h1>

  <%= button_to 'Log Out', logout_path, method: 'delete', class: "btn btn-primary mb1 bg-teal" %>
  <h3>Account Details</h3>
  <ul>
    <li> <%= current_user.first_name  %> <%= current_user.last_name %> </li>
    <li> <%= current_user.email%> </li>
  </ul>
  <section id="bookmarks">
    <h1>Bookmarked Segments</h1>
    <% current_user.bookmarks_list.each do |bookmark| %>
      <p> <%= bookmark.tutorial.title %> -  <%= bookmark.title %> </p>
    <% end %>
  </section><br>

<% if current_user.token == "No Key" %>
  <%= link_to "Connect to Github", github_login_path, class: "video-position-submit btn btn-outline" %>
<% else %>
  <section class="github">
    <h1>GitHub</h1>
    <h4>Repositories</h4>
    <section class="repos">
    <% current_user.top_5_repos(current_user.token).each do |repo|%>
      <p class="repo-name"><%= link_to repo.name, repo.repo_url %></p>
    <% end %>
    </section><br>

    <section class="followers">
      <h4>Followers</h4>
      <% current_user.all_followers(current_user.token).each do |follower| %>
        <p class="follower-name"><%= link_to follower.name, follower.html_url %></p>
        
    <%end%>
    </section><br>

    <section class="following">
      <h4>Following</h4>
      <% current_user.all_following(current_user.token).each do |following| %>
        <p class="following-name"><%= link_to following.name, following.html_url %></p>
      <% end %>
    </section>
  </section>
  <% end %>
</section>
